.idea/
__pycache__/
pipeline_output_example
benchmark_data
pipeline/data/kegg/prokaryote_database.*
tests/kegg_prepare/raw_data/profiles
pipeline/flask/api_secrets.py
/tests/panx_optimizations/salmonella_300_c_001/pseudo_genomes_consensus/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/original/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_genomes/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_genomes_consensus/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_batchsize_mincomparisons/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_batchsize_50/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_batchsize_sqrt/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_consensus_batchsize_50/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_consensus_mincomparisons/orthogroups.csv
/tests/panx_optimizations/benchmark_1060_c_001/pseudo_consensus_sqrt/orthogroups.csv
/tests/kegg_optimization/salmonella_300_c_001/use_first_gene_of_og/unified_ogs_sequences.faa
/tests/kegg_optimization/salmonella_300_c_001/use_consensus_of_og/unified_ogs_sequences.faa
